@import url('https://fonts.googleapis.com/css?family=Bungee|Nunito+Sans:900|Oswald|Source+Code+Pro:900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font-size: 10px;
  background: #486b86;
}

#container{
	width:800px; 
	margin:0 auto;
	position: relative;	
}

h1{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight:900;
  font-size:80px;
  color: #fff;
}
h1:before{
  content: "Boggle";
  position: absolute;
  color: #e35c3e;;
  font-size:85px;
  letter-spacing: -3px;
  line-height:110px;
}
#board{
  margin: 0 auto;
  height: 400px;
  background-color: #eaab4a;
  border: 9px solid #f0d343;
}
#letters{
  width: 400px;
  height: 390px;
  border-right: 9px solid #f0d343;
  float:left;
}
#words{
  width: 380px;
  height: 380px;
  float:right;
  padding:15px 10px;
}
#current{
  width:800px;
  border: 9px solid #f0d343;
  border-top:none;
  background: 	#fbd189;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  height: 69px;
}

.dice{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
 
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  background-color:white;
  border-radius: 10px;
  color: #294abb;
}
.letter{
  width: 80px;
  height:80px;
  font-size:60px;
  margin: 6px;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.75);
}
#current .dice{
  height: 40px;
  width:295px;
  font-size:28px;
  margin: 4px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  outline: none;
  border:none;
}
button{
    height: 40px;
    font-size: 28px;
    padding: 0 20px;
    margin-left:10px;
    text-shadow: 3px 3px rgba(255,255,255,0.75);
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
    background: none;
    color: #e35c3e;
  cursor: pointer;
}
button#btn_play{
  font-size: 40px;
}

h2{
  font-size:30px;
  font-family: 'Bungee', cursive;
  text-align: center;
}
#listing{
  
  background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, #fff 8%) 0 20px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, #fff 8%) 0 20px;
    background: linear-gradient(top, #DFE8EC 0%, #fff 8%) 0 20px;
    -webkit-background-size: 100% 25px;
    -moz-background-size: 100% 25px;
    -ms-background-size: 100% 25px;
    background-size: 100% 25px;
    background-attachment: local;
  
  font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625;
  
overflow: auto;
  max-height: 277px;
  height: 277px;

  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

form [disabled]{
  display: none;
}
#listing span{
  margin-right:4px;
  padding: 0 2px;
  line-height: 25px;
  float: left;
}
.accepted{ color:#02ac1e; }
.wrongLetter{ text-decoration: line-through wavy #d11d05; }
.notFound{ text-decoration: underline wavy #d11d05; }
.waiting{ color: #bbb; }
.letter:nth-child(4n){
  clear: right;
}
.letter:nth-child(4n+1){
  margin-left:12px;
}
.letter.topRow{
  margin-top:12px;
}
#stats{
  width: 100%;
 font-family: 'Oswald', sans-serif;
  font-size:20px; 
}
#wordsFound, #points{
  padding-top:20px;
  float: left;
  width: 50%;
}
#wordsFound span, #points span{
  font-family: 'Nunito Sans', sans-serif;
  font-size:24px;
  padding-left:10px;
}

/* scroll bar if word listing overflows */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFC6B9;
 }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7F9FAD; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7F9FAD; 
}